$triangle-length: 100px;
$triangle-side: $triangle-length solid transparent;

$ellipse-major-axis: 180px;
$ellipse-minor-axis: 90px;
$ellipse-radius: 50%;

$rectangle-long-side: 120px;
$rectangle-short-side: 80px;